<div class="review-card card2">
    <div class="stars">
        <ul>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
        </ul>
    </div>
    <p class="close"><i class="fa-solid fa-xmark"></i></p>
    <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <p class="read-more">
        <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
    </p>
</div>
<div class="review-card card3">
    <div class="stars">
        <ul>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
        </ul>
    </div>
    <p class="close"><i class="fa-solid fa-xmark"></i></p>
    <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <p class="read-more">
        <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
    </p>
</div>
<div class="review-card card4">
    <div class="stars">
        <ul>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
        </ul>
    </div>
    <p class="close"><i class="fa-solid fa-xmark"></i></p>
    <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <p class="read-more">
        <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
    </p>
</div>