{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>ReviewScope | Home</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
<!-- hero section -->
<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2 class="fw-bold">AI Product Reviewer</h2>
                <p class="lead">
                    ReviewScope extracts, analyzes, and summarizes online reviews to help users make informed decisions with ease.
                </p>
                <p class="lead">
                    Our product provides a comprehensive view of customer sentiment, benefiting consumers and businesses.
                </p>
                <p class="lead">
                    Try it out below!
                </p>
                <!-- search bar -->
                <form class="d-flex mt-3" method="POST">
                    {% csrf_token %}
                    <input id="search-bar" class="form-control me-2" type="search" placeholder="Enter Product URL" name="query" aria-label="Search">
                    <button class="btn btn-dark text-light searchbtn" type="submit">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="{% static 'assets/hero.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- AI review summary section -->
{% if avg %}
<section class="modelreview py-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">AI Generated Review</h1>
        </div>
        <div class="mr-card card mx-auto mb-3" style="max-width:80%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'assets/hero.jpg' %}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">{{ p_name }}</h3>
                        <p class="card-text">
                            <div class="stars">
                                <ul>
                                    <li class="rating">Rating: </li>
                                    {% for i in iter %}
                                    {% if i < avg %}
                                    <li><i class="fa-solid fa-star"></i></li>
                                    {% else %}
                                    <li><i class="fa-regular fa-star"></i></li>
                                    {% endif %}
                                    {% endfor %}
                                    <li class="model-rating fw-bold">
                                        {{ avg }} / 5
                                    </li>
                                </ul>
                            </div>
                        </p>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio sapiente natus fuga obcaecati ex, possimus, deleniti sint ut dolores unde exercitationem voluptates. Ducimus officia delectus beatae aliquam earum dicta, quo tenetur quisquam debitis sequi illum eos fuga nesciunt non ea recusandae magni excepturi quasi fugit placeat, quibusdam a quia laboriosam!
                        </p>
                        <a id="mr-btn" class="btn btn-primary" href="{% url 'login' %}" role="button">
                            Read More <i class="fas fa-arrow-right"></i>
                        </a>
                        <p class="card-text mt-3"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    <!-- <p class="spinner-text">This may take a while!</p> -->
</div>
{% endif %}

<!-- User Reviews section -->
<section class="reviews pt-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">User Reviews</h1>
        </div>
        <div class="cards">
            <div class="review-card card1">
                <div class="stars">
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                </div>
                <p class="close"><i class="fa-solid fa-xmark"></i></p>
                <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
            <div class="review-card card2">
                <div class="stars">
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                </div>
                <p class="close"><i class="fa-solid fa-xmark"></i></p>
                <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
            <div class="review-card card3">
                <div class="stars">
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
                <p class="close"><i class="fa-solid fa-xmark"></i></p>
                <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
            <div class="review-card card4">
                <div class="stars">
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
                <p class="close"><i class="fa-solid fa-xmark"></i></p>
                <p class="desc">Ut enim ad minim veniam. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}