{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>ReviewScope | Home</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
<!-- hero section -->
<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2 class="fw-bold">Review Scope</h2>
                <p class="lead">
                    ReviewScope extracts, analyzes, and summarizes online reviews to help users make informed decisions with ease.
                </p>
                <p class="lead">
                    Our product provides a comprehensive view of customer sentiment, benefiting consumers and businesses.
                </p>
                <p class="lead">
                    Try it out below!
                </p>
                <!-- search bar -->
                <form class="d-flex mt-3" method="POST">
                    {% csrf_token %}
                    <input id="search-bar" class="form-control me-2" type="search" placeholder="Enter Product URL" name="query" aria-label="Search">
                    <button class="btn btn-dark text-light searchbtn" type="submit">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="{% static 'assets/hero.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- AI review summary section -->
{% if avg %}
<section class="modelreview py-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">AI Generated Review</h1>
        </div>
        <div class="mr-card card mx-auto mb-3" style="max-width:80%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'assets/hero.jpg' %}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">{{ p_name }}</h3>
                        <p class="card-text">
                            <div class="stars">
                                <ul>
                                    <li class="rating">Rating: </li>
                                    {% for i in iter %}
                                    {% if i < avg %}
                                    <li><i class="fa-solid fa-star"></i></li>
                                    {% else %}
                                    <li><i class="fa-regular fa-star"></i></li>
                                    {% endif %}
                                    {% endfor %}
                                    <li class="model-rating fw-bold">
                                        {{ avg }} / 5
                                    </li>
                                </ul>
                            </div>
                        </p>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio sapiente natus fuga obcaecati ex, possimus, deleniti sint ut dolores unde exercitationem voluptates. Ducimus officia delectus beatae aliquam earum dicta, quo tenetur quisquam debitis sequi illum eos fuga nesciunt non ea recusandae magni excepturi quasi fugit placeat, quibusdam a quia laboriosam!
                        </p>
                        <a id="mr-btn" class="btn btn-primary" href="{% url 'login' %}" role="button">
                            Read More <i class="fas fa-arrow-right"></i>
                        </a>
                        <p class="card-text mt-3"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<!-- loader -->
<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
{% endif %}

<!-- accordion section -->
<section class="faqs py-5 mt-3" id="faqs">
    <div class="heading pricing pt-5">
        <h1 class="fw-bold">Frequently Asked Questions</h1>
    </div>
    <div class="container">
        <div class="accordion accordion-flush" id="questions">
            <!-- item #1 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-one">
                        Where are you located?
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eveniet maxime dicta eius iste aperiam
                        beatae quasi numquam molestias est ex at possimus. Expedita eos aperiam, voluptas consectetur magni
                        nihil sit nemo quibusdam officia quo odio dolor laboriosam molestias amet assumenda dolores.
                        Consequuntur magnam odit explicabo vel sint praesentium dicta!
                    </div>
                </div>
            </div>
            <!-- item #2 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-two">
                        How much does it cost?
                    </button>
                </h2>
                <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur animi accusantium non. Animi minus,
                        fuga, debitis delectus in explicabo beatae dolorem earum, nihil asperiores eligendi maiores nisi porro
                        modi excepturi.
                    </div>
                </div>
            </div>
            <!-- item #3 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-three">
                        What are the prerequisites?
                    </button>
                </h2>
                <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet fuga corporis beatae nisi autem quidem
                        blanditiis dolorum voluptatum qui accusantium, assumenda hic veritatis quas consectetur quam, corrupti
                        velit. Iste labore voluptatum ipsa quas officia dolorum sunt? Maxime, sapiente aliquid asperiores
                        exercitationem, ipsa animi voluptatibus, minus iste quas ad delectus autem.
                    </div>
                </div>
            </div>
            <!-- item #4 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-four">
                        How do I sign-up for a Course?
                    </button>
                </h2>
                <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis voluptatem obcaecati
                        consequuntur ducimus voluptatibus blanditiis quod aut unde soluta, similique aspernatur beatae dolore
                        necessitatibus deleniti fugiat in ea repudiandae?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- pricing section -->
<section class="pricing py-5" id="pricing">
    <div class="heading pricing pt-5">
        <h1 class="fw-bold">Pricing</h1>
    </div>
    <div class="container">
        <div class="card-price">
            <div class="box">
                <div class="content">
                    <h2>01</h2>
                    <h3>Soldier</h3>
                    <ul class="features">
                        <p>₹69/mo when you renew</p>
                        <li>
                            <span class="list-name">50 Website</span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">~25000 Visits Monthly </span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">60 GB SSD Storage</span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">200 GB Bandwidth</span>
                            <span class="icon cross"><i class="fas fa-times"></i></span>
                        </li>
                    </ul>
                    <a href="{% url 'payment' %}">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="card-price">
            <div class="box">
                <div class="content">
                    <h2>02</h2>
                    <h3>Commander</h3>
                    <ul class="features">
                        <p>₹169/mo when you renew</p>
                        <li>
                            <span class="list-name">50 Website</span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">~25000 Visits Monthly </span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">60 GB SSD Storage</span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">200 GB Bandwidth</span>
                            <span class="icon cross"><i class="fas fa-times"></i></span>
                        </li>
                    </ul>
                    <a class="middle-a" href="{% url 'payment' %}">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="card-price">
            <div class="box">
                <div class="content">
                    <h2>03</h2>
                    <h3>Prince</h3>
                    <ul class="features">
                        <p>₹269/mo when you renew</p>
                        <li>
                            <span class="list-name">50 Website</span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">~25000 Visits Monthly </span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">60 GB SSD Storage</span>
                            <span class="icon check"><i class="fas fa-check"></i></span>
                        </li>
                        <li>
                            <span class="list-name">200 GB Bandwidth</span>
                            <span class="icon cross"><i class="fas fa-times"></i></span>
                        </li>
                    </ul>
                    <a href="{% url 'payment' %}">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}