{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ReviewScope | History</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock css %}

{% block content %}
<!-- search bar with filters -->
<section class="search-box">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Search For A Product</h1>
        </div>
        <div class="search">
            <form action="" method="GET">
                <div class="input-group">
                    <input id="myInput" type="text" class="form-control" onkeyup="myFunction()" placeholder="Search for a product" name="search">
                    <button class="btn btn-primary search-button" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- search bar with filters -->
<section class="stats-card">
    <div class="container | charts" style="max-width:400px;">
        <canvas id="myChart1"></canvas>
        <canvas id="myChart2"></canvas>
    </div>
</section>
<!--Stats Card-->
<section>

</section>    
<!-- Past Reviews section -->
<section class="reviews pt-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Past Reviews</h1>
        </div>
        <div class="cards">
        {% for review in reviews %}
            {% if review.user == request.user %}
            <div class="review-card card">
                <p class="title">
                    {{ review }}
                </p>
                <div class="stars">
                    <ul>
                        {% for i in iter %}
                        {% if i < review.rating %}
                        <li><i class="fa-solid fa-star"></i></li>
                        {% else %}
                        <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                        {% endfor %}
                        <li class="px-5">
                            {{ review.rating }} / 5
                        </li>
                    </ul>
                </div>
                <p class="desc">
                    {{ review.summary }}
                </p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock scripts %}