{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ReviewScope | History</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock css %}

{% block content %}
<!-- search bar with filters -->
<section class="search-box">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Search For A Product</h1>
        </div>
        <div class="search">
            <form action="" method="GET">
                <div class="input-group">
                    <input id="myInput" type="text" class="form-control" onkeyup="myFunction()" placeholder="Search for a product" name="search">
                    <button class="btn btn-primary search-button" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!--Stats Card-->
<section class="stats-card py-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">AI Generated Review</h1>
        </div>
        <div class="mr-card card mx-auto mb-3 p-5">
            <div class="mr-content">
                <h2 class="mr-title fw-bold">Product Name</h2>
                <p class="mr-rating">
                    <div class="stars">
                        <ul>
                            <li class="rating">Rating: </li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                            <li class="model-rating fw-bold">
                                4.0 / 5
                            </li>
                        </ul>
                    </div>
                </p>
                <p class="mr-summary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil voluptatum qui nemo, nisi esse inventore nostrum eveniet reprehenderit voluptas, enim eaque nesciunt rerum doloribus cumque optio corporis rem et deserunt soluta recusandae ipsum! Vitae nobis, ex doloribus ducimus nostrum distinctio? Similique iusto dolores architecto. Voluptatem optio facilis vel magnam!
                </p>
            </div>  
            <div class="mr-image">
                <img src="{% static 'assets/ai-review.webp' %}" alt="product image">
            </div>
            <div class="mr-chart" style="max-width:400px;">
                <canvas id="myChart1"></canvas>
            </div>
            <div class="mr-chart" style="max-width:400px;">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</section>   
<!-- Past Reviews section -->
<section class="reviews pt-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Past Reviews</h1>
        </div>
        <div class="cards">
        {% for review in reviews %}
            {% if review.user == request.user %}
            <div class="review-card card">
                <p class="title">
                    {{ review }}
                </p>
                <div class="stars">
                    <ul>
                        {% for i in iter %}
                        {% if i < review.rating %}
                        <li><i class="fa-solid fa-star"></i></li>
                        {% else %}
                        <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                        {% endfor %}
                        <li class="px-5">
                            {{ review.rating }} / 5
                        </li>
                    </ul>
                </div>
                <p class="desc">
                    {{ review.summary }}
                </p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock scripts %}