{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ReviewScope | History</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock css %}

{% block content %}
<!-- search bar with filters -->
<section class="search-container">
    <div class="input-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search here..." />
      <button class="button">Search</button>
    </div>
</section>
<!-- search bar with filters -->
<section class="stats">
    <div class="pie" style="--p:20"> 20%</div>
        <div class="pie" style="--p:40;--c:darkblue;--b:10px"> 40%</div>
        <div class="pie no-round" style="--p:60;--c:purple;--b:15px"> 60%</div>
        <div class="pie animate no-round" style="--p:80;--c:orange;"> 80%</div>
        <div class="pie animate" style="--p:90;--c:lightgreen"> 90%</div>
    
</section>
<!-- Past Reviews section -->
<section class="reviews pt-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Past Reviews</h1>
        </div>
        <div class="cards">
        {% for review in reviews %}
            {% if review.user == request.user %}
            <div class="review-card card1">
                <div class="stars">
                    <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                </div>
                <p class="close"><i class="fa-solid fa-xmark"></i></p>
                <p class="desc">
                    {{ review.summary }}
                </p>
                <p class="read-more">
                    <a class="readMore" href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock scripts %}