{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ReviewScope | Search Prototype</title>
  <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet">
  <script src="https://use.fontawesome.com/f6bbfc34ac.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>ReviewScope</h1>
    <p>Enter The Product Link:</p>
    <form id="standard-3" method="POST" action="" id="form2">
      {% csrf_token %}
      <input type="text" class="search-txt-input" name="query" maxlength="100">
      <button type="submit" class="search-button">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div class="output-wrap">
    {% block output %}
    <p class="model-output">
      {% if rev and star %}
      <div class="rating-result">
        Review Rating: {{ rev }}
        <br>
        Our Rating: {{ star }}
      </div>
      {% else %}
      <span class="model-name">Enter product link for rating</span>
      {% endif %}
    </p>
    {% endblock %}
  </div>
</body>
</html>