@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    width: 325px;
    color: white;
    background: #444654;
    font-family: 'Open Sans', sans-serif;
}

h1,
h4 {
    text-align: center;
    color: rgb(93, 177, 177);
    /* border-bottom: 1px solid #9DBFAF; */
}

.search {
    width: 90%;
    position: relative;
    display: flex;
    margin: 0 auto;
}

.searchTerm {
    width: 100%;
    border: 3px solid #000;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #fff;
    background: #666874;
}

.searchTerm::placeholder {
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #fff;
}

.searchButton {
    width: 40px;
    height: 34.5px;
    border: 1px solid #000;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background-image: url("imgs/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.model-answer {
    width: 90%;
    margin: 0 auto;
    display: none;
}

.model-rating {
    display: none;
}

.rating-wrap {
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.rating-wrap .stars {
    margin-top: -70px;
}

.rating-wrap .rating {
    margin-top: -85px;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.5;
}

.model-review {
    margin-top: -5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.75;
}

.rating-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px 12px;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.75;
    border: 0;
    border-radius: 12px;
    background: black;
    cursor: pointer;
}

.rating-button:hover {
    background: #666874;
}

.rating-button a {
    color: #fff;
    text-decoration: none;
}

/* loader styling */
.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: block;
}
svg path,
svg rect {
    fill: #FF6700;
}
