/* search box */
.search-box {
    margin-top: 8rem;
}

.search {
    margin: auto;
    width: 50%;
}

.form-control {
    border-radius: 100vw;
    height: 45px;
}

.form-control:focus {
    box-shadow: none;
}

.search-button {
    font-weight: 600;
    border-radius: 100vw;
}

.search-button:hover {
    background: #171941;
    color: #fff;
}

/* statistic card */


/* past review cards */
.heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    display: grid;
    min-height: 200px;
    border-radius: 10px;
    transition: all 0.2s;
    grid-template-rows: 20px 50px 1fr 50px;
    box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
}

.review-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.readMore,
.review-card div {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.stars ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.stars ul li {
    margin: auto 0.3rem;
    font-size: 1.3rem;
}

.stars ul li:first-child {
    margin-left: 0;
}

.desc {
    color: rgb(66, 59, 59);
}

.readMore::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
}

.readMore:hover {
    color: #fff;
}

.readMore:hover::after {
    width: 100%;
}

.title {
    grid-row: 1/2;
    justify-self: start;
    font-size: 1rem;
    font-weight: 600;
}

.review-card div {
    padding: 10px 0;
    grid-row: 2/3;
}

.read-more {
    grid-row: 4/5;
    align-self: center;
}

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}