<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>ReviewScope | base</title>
    {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
    <header class="primary-header">
        <nav class="navbar container-navbar">
            <a href="{% url 'home' %}" class="logo">ReviewScope</a>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link">Pricing</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="#" class="nav-link">Past Reviews</a>
                </li>
                {% endif %}
                <li>
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="button">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="button">Login</a>
            <a href="{% url 'register' %}" class="button2">Sign Up</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

    <script>
        const isScrolling = () => {
            const headerEl = document.querySelector('.primary-header')
            let windowPosition = window.scrollY > 250
            headerEl.classList.toggle('active', windowPosition)
        }
        window.addEventListener('scroll', isScrolling)
    </script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/ccf941b7da.js" crossorigin="anonymous"></script>
    <script src="https://cdn.elivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>